# Created from pipreqs (command: "pipreqs .")
click
torch>=1.10.0
torchvision
humanize
matplotlib
colorlog
prettytable
requests
tqdm
numpy
Pillow
ipython
scipy
httplib2
oauth2client
pydrive
tensorboard
pyyaml>=5.1
h5py
wget